.container-fluid{
    padding-left: 0 !important;
}

header .bg-light{
background-color: #F1F1F1 !important;
}

.navbar-light img{
    height: 31px;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 22px 35px;
    font-family: arial,sans-serif !important;
}

.appbar label{
    margin-bottom: 0;
}

.logo {
    padding-top: 100px;
    margin: 0 auto;
}

.logo img{
    height: 92px;
    display: block;
    margin: 0 auto;
}

.search-bar{
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 46px;
    margin: 0 auto;
    width: 38%;
    margin-top: 27px;
}

.bar-container{
    align-items: center;
    padding: 0 8px 0 16px;
    padding-left: 14px;
}

.glass-container{
    padding-right: 13px;
}

.glass{
    display: table-cell;
    color: #9aa0a6;
    width: 23px;
    fill: currentColor;
    padding-bottom: 4px;
}

.search-bar:hover, .search-bar:focus{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    outline: none;
}

.search-input{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.voice{
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px 3px;
    width: 43px;
}

.search-buttons{
    display: flex;
    justify-content: center;
    padding-top: 18px;
    margin-right: 13px;
}

.search-buttons input{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.search-buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search-buttons .lucky{
    margin-left: 8px;
}

.form-container{
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.row .form-control{
    height: calc(1em + .75rem + 2px);
    border-radius: 0;
}

label[for="all"], label[for="exact"], label[for="any"], label[for="none"]
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.search-container p{
    font-family: Arial, Helvetica, sans-serif;
}

p.col-sm-6{
    font-size: 11px;
}

.search-container button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #2F5bb7;
    border-radius: 2px;
}

code{
    font-family: monospace !important;
    font-size: 11px !important;
    color: black !important;
}
